<a href="https://colab.research.google.com/github/thinthazin96/session2Exercise/blob/main/Day_2_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loops

for loop is iterator in Python! can iterate anything list,tuple, dictionary or evern string!

In [36]:
l = [1,2,3,4,5,6,7,8,9,10]

In [15]:
#iterate the list
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
#Loop each item in list
for num in l:

#conditional statement if a number is even
    if num % 2 == 0:

#Print the iterator after the conditional statement is executed.
      print("Even number \n" + str(num))

Even number
2
Even number
4
Even number
6
Even number
8
Even number
10

In [18]:
#Loop each item in list
for num in l:

#conditional statement if a number is odd
    if num % 2 != 0:

#Print the iterator after the conditional statement is executed.
      print("Odd number \n" + str(num))

Odd number
1
Odd number
3
Odd number
5
Odd number
7
Odd number
9

In [38]:
list_sum = 0

for num in l:

  #List_sum wil increment as the num goes through in l
  list_sum = list_sum + num 

  # print(list_sum)

#this will print out the total value of the list l.
print(list_sum)

55

In [39]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
  print(tup)

(2, 4)
(6, 8)
(10, 12)

In [40]:
for (t1,t2) in l:
  print(t2)

4
8
12

In [27]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [43]:
for item in d:

  #by default for loop return only Key. 
  print(item)

k1
k2
k3

In [44]:
#must written k,v to print in pair or seperately.
for k, v in d.items():

  #print both key and value 
  print(k,v)

  #print only key
  print(k)

  #print only value
  print(v)

k1 1
k1
1
k2 2
k2
2
k3 3
k3
3